
    <div class="product__container container">
        <h1 class="main__title text-center">Our Product</h1>
        <ul class="product__subcontainer flex">
            <li class="product__item">
                <div class="product__item__container__shape">
                </div>
                <div class="product__item__container">
                    <img class="product__item__image">
                    </img>
                    <div class="product__item__content">
                        <h3 class="product__item__title">Medical Chatbot Systems & Extracting information from EMR</h3>
                        <p class="product__item__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam,
                            voluptatum.</p>
                    </div>
                </div>
            </li>
            <li class="product__item">
                <div class="product__item__container__shape">
                </div>
                <div class="product__item__container">
                    <img class="product__item__image">
                    </img>
                    <div class="product__item__content">
                        <h3 class="product__item__title">Medical Chatbot Systems & Extracting information from EMR</h3>
                        <p class="product__item__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam,
                            voluptatum.</p>
                    </div>
                </div>
            </li>
            <li class="product__item">
                <div class="product__item__container__shape">
                </div>
                <div class="product__item__container">
                    <img class="product__item__image">
                    </img>
                    <div class="product__item__content">
                        <h3 class="product__item__title">Medical Chatbot Systems & Extracting information from EMR</h3>
                        <p class="product__item__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam,
                            voluptatum.</p>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="product__subcontainer flex">
            <li class="product__item">
                <div class="product__item__container__shape">
                </div>
                <div class="product__item__container">
                    <img class="product__item__image">
                    </img>
                    <div class="product__item__content">
                        <h3 class="product__item__title">Medical Chatbot Systems & Extracting information from EMR</h3>
                        <p class="product__item__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam,
                            voluptatum.</p>
                    </div>
                </div>
            </li>
            <li class="product__item">
                <div class="product__item__container__shape">
                </div>
                <div class="product__item__container">
                    <img class="product__item__image">
                    </img>
                    <div class="product__item__content">
                        <h3 class="product__item__title">Medical Chatbot Systems & Extracting information from EMR</h3>
                        <p class="product__item__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam,
                            voluptatum.</p>
                    </div>
                </div>
            </li>
            <li class="product__item">
                <div class="product__item__container__shape">
                </div>
                <div class="product__item__container">
                    <img class="product__item__image">
                    </img>
                    <div class="product__item__content">
                        <h3 class="product__item__title">Medical Chatbot Systems & Extracting information from EMR</h3>
                        <p class="product__item__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam,
                            voluptatum.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
