<body>

    <div class="bd-example">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12">

                    <div class="card-body">
                        <div class="header-top">
                            <div class="mb-1">
                                Log in
                                <img class="img ms-3" src="https://c.animaapp.com/SqS4oaEV/img/image-24@2x.png" />
                                <img class="image ms-3" src="https://c.animaapp.com/SqS4oaEV/img/image-25@2x.png" />
                            </div>
                            <img class="navbar" src="https://c.animaapp.com/SqS4oaEV/img/navbar.png" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-sm-12">
                <div class=" mt-5">
                    <div class="row">
                        <div class="col-md-11 mx-auto">
                            <div class="sub-container">
                                <img class="airc-log img-fluid" src="https://c.animaapp.com/SqS4oaEV/img/airc-log-1.png" alt="Airc Log">
                                <p class="paragraph">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. At risus viverra adipiscing at in. Pellentesque adipiscing commodo elit at imperdiet dui accumsan. Dolor morbi non arcu risus quis varius quam quisque id. Vulputate dignissim suspendisse in est ante in nibh mauris. Dignissim convallis aenean et tortor at risus. Tristique sollicitudin nibh sit amet commodo. Feugiat in fermentum posuere urna. Urna porttitor rhoncus dolor purus non enim. Leo integer malesuada nunc vel risus commodo. Dictumst quisque sagittis purus sit amet volutpat consequat mauris. Interdum varius sit amet mattis vulputate enim. Orci a scelerisque purus sem
                                </p>

                            </div>

                        </div>
                        <div>
                            <div class="btn-baner2">
                                <img class="button-2" src="https://c.animaapp.com/SqS4oaEV/img/button-2.svg" alt="Button 2">
                                <img class="button " src="https://c.animaapp.com/SqS4oaEV/img/button-3.svg" alt="Button 1">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="product__container container">
            <h1 class="main__title text-center">Our Product</h1>
            <ul class="product__subcontainer flex ">
                <li class="product__item">
                    <div class="product__item__container__shape">
                    </div>
                    <div class="product__item__container">
                        <img class="product__item__image" src="assets/images/baner1/Image.png"">
                        </img>
                        <div class="product__item__content">
                            <h3 class="product__item__title">Medical Chatbot Systems & Extracting information from EMR</h3>
                            <p class="product__item__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
                <li class="product__item">
                    <div class="product__item__container__shape">
                    </div>
                    <div class="product__item__container">
                        <img class="product__item__image "src="assets/images/baner1/1.png"">
                        </img>
                        <div class="product__item__content">
                            <h3 class="product__item__title">Medical images diagnosis with Deep Learning, Transfer learning and Knowledge Graphs</h3>
                            <p class="product__item__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
                <li class="product__item">
                    <div class="product__item__container__shape">
                    </div>
                    <div class="product__item__container">
                        <img class="product__item__image" src="assets/images/baner1/2.png">
                        </img>
                        <div class="product__item__content">
                            <h3 class="product__item__title">Patient monitoring via sensor systems</h3>
                            <p class="product__item__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="product__subcontainer flex mt-5">
                <li class="product__item">
                    <div class="product__item__container__shape">
                    </div>
                    <div class="product__item__container">
                        <img class="product__item__image" src="assets/images/baner1/3.png">
                        </img>
                        <div class="product__item__content">
                            <h3 class="product__item__title">Multi-modal & environmental AI</h3>
                            <p class="product__item__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
                <li class="product__item">
                    <div class="product__item__container__shape">
                    </div>
                    <div class="product__item__container">
                        <img class="product__item__image" src="assets/images/baner1/4.png">
                        </img>
                        <div class="product__item__content">
                            <h3 class="product__item__title">Virtual Tourism with AR/VR</h3>
                            <p class="product__item__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
                <li class="product__item">
                    <div class="product__item__container__shape">
                    </div>
                    <div class="product__item__container">
                        <img class="product__item__image" src="assets/images/baner1/5.png">
                        </img>
                        <div class="product__item__content">
                            <h3 class="product__item__title">Facial expression analysis application</h3>
                            <p class="product__item__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="activities_container container">
            <div class="text-center">
                <h1 class="main__title text-center">Our Research & Activities</h1>
                <button class="btn btn-info">All</button>
                <button class="btn btn-triadic" style="background: #DCF2F1;">Research</button>
                <button class="btn btn-triadic" style="background: #DCF2F1;">Activities</button>
            </div>
            <div class="row" style="padding-left: 2rem;">
                <div class="img-baner2">
                    <img class="" src="assets/images/banner2/Image.png">
                    <img class="" src="assets/images/banner2/2.png">
                    <img class="" src="assets/images/banner2/3.png">
                    <img class="" src="assets/images/banner2/4.png">
                </div>
                <div class="baner-2">
                    <div class="text-onbox pt-7">

                        <div class="col-md-12 activities-box">
                            <h2>Research</h2>
                            <div class="btn-lr">
                                <img class="button3" src="https://c.animaapp.com/SqS4oaEV/img/button-2.svg" alt="Button 3">
                                <img class="button-4" src="https://c.animaapp.com/SqS4oaEV/img/button-3.svg" alt="Button 4">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.
                                  At risus viverra adipiscing at in.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2.5rem;padding-left: 2rem;">
                <div class="img-baner2">
                    <img class="" src="assets/images/banner2/5.png">
                    <img class="" src="assets/images/banner2/6.png">
                    <img class="" src="assets/images/banner2/7.png">
                    <img class="" src="assets/images/banner2/8.png">
                </div>
                <div class="baner-2">
                    <div class="text-onbox pt-7">

                        <div class="col-md-12 activities-box">
                            <h2>Activities</h2>
                            <div class="btn-lr">
                                <img class="button3" src="https://c.animaapp.com/SqS4oaEV/img/button-2.svg" alt="Button 3">
                                <img class="button-4" src="https://c.animaapp.com/SqS4oaEV/img/button-3.svg" alt="Button 4">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.
                                  At risus viverra adipiscing at in.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__container container">
            <h1 class="main__title text-center">Our Product</h1>

        </div>
    </div>
  </body>
