.airc-menu.menu--account .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-language {
  display: flex;
  list-style-type: none;
  justify-content: end;
}

.menu-language_item {
  margin: 8px;
}

.menu-language_item:first-child {
  margin-left: 0;
}

.menu-language_item:last-child {
  margin-right: 0;
}

.navbar-additional {
  justify-content: flex-end;
}

.region-nav-additional {
  display: flex;
  align-items: center;
}

.navbar-menu-wrap {
  background-color: #365486;
  border: 2px solid #0F1035;
  border-radius: 12px;
  color: #ffffff;
}

.navbar-menu-wrap>.navbar {
  padding: 0;
}

.navbar-menu-wrap .menu--main ul>li .nav-link {
  padding: 38px 34px;
  border-left: 2px solid #0F1035;
  color: #ffffff;
}

.navbar-menu-wrap .menu--main ul>li .nav-link.is-active {
  background-color: #DCF2F1;
  color: #0F1035;
}

.region-nav-branding .navbar-brand {
  padding: 0;
  margin: 0;
}

.region-nav-branding .site-logo {
  background-color: #DCF2F1;
  padding: 20px 24px;
  border-right: 2px solid #0F1035;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.region-nav-branding .site-logo img {
  padding: 0;
  margin: 0;
}

/* Banner */
.banner-home {
  margin-top: 30px;
  padding: 0 30px;
  position: relative;
}

.banner-home .box-banner {
  padding: 60px 20px;
  background-color: #dcf2f1;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #0F1035;
}

.banner-home .box-banner .content-text {
  line-height: 24px;
  text-align: justify;
}

.banner-home .owl-carousel .owl-nav .owl-prev,
.banner-home .owl-carousel .owl-nav .owl-next {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 50%;
  background-color: #dcf2f1;
  border: 2px solid #0F1035;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.banner-home .owl-carousel .owl-nav .owl-prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.banner-home .owl-carousel .owl-nav .owl-next {
  transform: translate(50%, -50%);
  right: 0;
}

footer .airc-footer {
  flex-direction: row;
  background-color: #dcf2f1;
  border: 2px solid #0F1035;
  border-radius: 12px;
  padding: 30px 80px;
}

.airc-log-wrapper {
  display: flex;
  justify-content: center;
}

.box-icon {
  width: 40px;
  height: 40px;
  border: 2px solid #0F1035;
  color: #0F1035;
  background-color: #365486;
  border-radius: 6px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-footer-info .list-info {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.block-footer-info .info-text {
  font-weight: 500;
}

.block-footer-info .list-info .item-info {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-menu ul {
  padding-left: 0;
}

.footer-menu ul>li {
  margin-bottom: 10px;
}

.footer-menu a {
  text-decoration: none;
  font-weight: 500;
}

.menu-item-title {
  margin-bottom: 20px;
}
